.home {
  .header {
    position: relative;
    height: 90vh;
    width: 100%;

    .video {
      position: fixed;
      width: 100%;
      height: 90vh;
      object-fit: cover;
      z-index: -1;
    }

    .content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }

    &-title {
      font-size: 70px;
      margin-bottom: 15px;
    }

    &-subtitle {
      font-size: 25px;
      font-weight: bold;
      margin-bottom: 70px;
    }
  }

  // News
  .news {
    background: rgba(0, 0, 0, 0.6);
    position: relative;
    padding: 120px;
    z-index: 1;
    .col {
      background-color: rgba(38, 38, 38, 0.7);
      position: relative;
      width: 320px;
      border-radius: 6px;
      overflow: hidden;

      .link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9;
      }
    }

    .img-block {
      position: relative;
      width: 320px;
      height: 150px;
      margin-bottom: 10px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .date {
      position: absolute;
      top: auto;
      bottom: -1px;
      left: -1px;
      padding: 10px;
      background-color: rgba(0, 0, 0, 0.85);
      border-radius: 0 6px 0 0;
      font-size: 12px;
    }

    .desc-block {
      padding: 0 10px;
      .title {
        font-size: 14px;
        color: var(--accent-color);
        margin-bottom: 5px;
      }
    }
  }

  // Media
  .media {
    background-image: linear-gradient(rgba(75, 75, 75, 0.8), rgba(0, 0, 0, 0.5)), url("../img/bg-home-1.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 120px 0;
    z-index: 8;

    .video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: blur(8px);
      z-index: -1;
    }

    .flex {
    }

    .icon {
      margin-bottom: -10px;
      display: inline-block;
      margin-right: 5px;
      transform: rotate(45deg);

      svg {
        fill: var(--accent-color);
      }
    }

    .media-nav {
      .title{
        margin-bottom: 20px;
      }
      background: rgba(0, 0, 0, 0.6);
      padding: 30px;
      max-width: 500px;
      width: 100%;
      border-radius: 6px;
    }

    &-link {
      margin-bottom: 20px;
      font-size: 18px;

      a {
        color: var(--text-color);
      }
    }
  }

  // streamers
  .streamers {
    background: rgba(0, 0, 0, 0.6);
    position: relative;
    z-index: 1;
    padding: 120px 0;
    .col {
      position: relative;
      width: 310px;
      height: auto;
      padding-bottom: 7px;
      overflow: hidden;
      .img{
        width: 310px;
        height: 160px;
        overflow: hidden;
        margin-bottom: 10px;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &-rating {
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.8);
        padding: 10px;
        display: flex;
        align-items: center;
        border-radius: 0 0 6px 0;
        color: var(--accent-color);
        font-size: 12px;
      }

      &-title {
        font-size: 16px;
        padding: 0 5px;
      }

      .icon {
        margin-right: 7px;
      }
    }
  }

  // description
  .description {
    padding: 140px 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/bg-blk4.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 920px;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    .block{
      background: rgba(0, 0, 0, 0.6);
      padding: 30px 20px;
      max-width: 600px;
      margin: 0 auto;
      font-size: 16px;
      border-radius: 6px;
    }
  }
}


