.content-block{
  padding: 50px;
  background: rgba(26, 26, 26, 0.92);
  max-width: 900px;
  width: 100%;
  margin-right: 40px;
  box-shadow: -7px 7px 12px rgba(255, 140, 0, .1);
  border-radius: 6px;
  .row{
    display: flex;
    flex-wrap: wrap;
    height: 130px;
    margin-bottom: 30px;
    overflow: hidden;
  }
  .content__img-block{
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .category{
    color: rgba(0, 0, 0, 0.7);
    font-weight: bold;
    font-size: 12px;
  }
  .row-content{
    margin-left: 20px;
    max-width: 600px;
    width: 100%;
    .date{
      background: none;
      border-radius: 0;
      padding: 0;
      margin-bottom: 7px;
      width: auto;
    }
    .title{
      text-align: left;
      font-size: 16px;
      margin-bottom: 10px;
    }
    .text{
      font-size: 12px;
      line-height: 1.65;
    }
  }
  .row-error{
    text-align: center;
    font-size: 40px;
  }

}
